div#entries, #form {
	margin: auto;
	width: 50%;
}

.card {
	margin-bottom: 2em;
}

.admin-buttons{
	display:flex;
	flex-direction: row;
	align-items: flex-start;
}

.edit-btn{
	position: relative;
	left: 80%;
}

.card-title {
	margin-bottom: 0;
}

.date {
	font-size: 0.8em;
}

blockquote {
	margin: 0;
}

form#form {
	padding: 0 1.25em;
}