<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script th:src="@{/webjars/hyperscript.org/dist/_hyperscript.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/resources/css/style.css}" type="text/css" />
	<title th:text="#{guestbook.title}">Gästebuch</title>
</head>
<body>
<h1 class="text-center" th:text="#{guestbook.title}">Gästebuch</h1>

<div class="text-center">
	<a sec:authorize="isAnonymous()" href="/login">Login</a>
	<a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
</div>

<br />

<div id="entries" class="mx-auto">
	<div th:each="entry, it : ${entries}" th:with="index = ${it.count}" th:fragment="entries">
		<div class="card" th:fragment="entry" th:id="entry+${entry.id}">
			<!--
         block for admin options
         allows admins to delete entries
         -->
			<div class="card-header">
				<div class = "admin-buttons">
					 <!-- delete button-->
					 <form sec:authorize="hasRole('ADMIN')" th:method="delete" th:action="@{/guestbook/{id}(id=${entry.id})}" th:attr="data-entry-id=${entry.id}">
						 <button th:title="#{guestbook.form.delete}" class="btn btn-sm float-left"
								  hx:delete="@{/guestbook/{id}(id=${entry.id})}"
								  hx:target="'#entries'">
							  <span class="fas fa-times"></span>
						 </button>
					 </form>
					 <!--edit button-->
					 <form class="edit-btn" sec:authorize="hasRole('ADMIN')" th:method="post" th:action="@{/guestbook/edit/{id}(id=${entry.id})}" th:attr="text-field=${entry.text}" th:object="${form}">
						<button class="btn btn-default float-right" th:text="#{guestbook.form.edit}">
						</button>
					</form>
				</div>
				<h4 th:text="${index} + '. ' + ${entry.name}" class="card-title">1. Posting</h4>
			</div>
			<!--Card Display-->
			<div class="card-body">
				<blockquote class="entrytext" th:text="${entry.text}"></blockquote>
			</div>
			<div class="card-footer">
				<footer class="date" th:text="(*{entry.isEdited == true}? #{guestbook.form.edited}:#{guestbook.form.created}) + ${#temporals.format(entry.date, 'dd. MMMM yyyy - HH:mm')}">Datum</footer>
			</div>
		</div>
	</div>
</div>

<!-- <form> is used to collect user input
 this represents the Add Entry block
 -->
<!-- what does this hx:stuff do?? since I deleted all of it from the header addEntry gets properly executed on submit-->
<form method="post" role="form" class="gb-form" id="form" _="on entryAdded me.reset()" th:action="@{/guestbook}" th:object="${form}">
	<div class="form-group">
		<label for="name" th:text="#{guestbook.form.name}">Name</label><br />
		<input class="form-control" type="text" th:field="*{name}" th:errorclass="is-invalid" required="required" />
		<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:text="#{guestbook.form.name.required}">Please provide a name.</div>
	</div>
	<div class="form-group">
		<!--for label specifies which form element a lable is bound to-->
		<label class="text-field" for="text" th:text="#{guestbook.form.text}">Text</label><br />
		<textarea th:field="*{text}" th:errorclass="is-invalid" class="form-control" required="required"></textarea>
		<div th:if="${#fields.hasErrors('text')}" class="invalid-feedback" th:text="#{guestbook.form.text.required}">Please provide a text.</div>
	</div>
	<input type="submit" class="btn btn-secondary" th:value="#{guestbook.form.submit}" value="Senden" />
</form>

</body>
</html>
